body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    background: url('image.jpg') center/cover no-repeat;
}

.weather-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

button {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #27ae60;
}

#weatherResult {
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

img {
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
}

.forecast-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-item {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
